<h1>Залогінитися</h1>

<%= form_for(:session, url: login_path) do |t| %>
     <p>
       <%= t.label :email, 'Емейл:' %>
       <%= t.email_field :email, placeholder: "Enter email", autofocus: true %>
     </p>

     <p>
       <%= t.label :password, 'Пароль:' %>
       <%= t.password_field :password, autocomplete: "off" %>
     </p>

   <p>
          <%= t.submit("Залогінитись") %>
   </p>

<% end %>

<p><%= link_to 'До списку записів', records_path %></p>
