<%= form_with model: @user, local: true do |t| %>
<%= render 'shared/errors', obj: @user %>

   <p>
     <%= t.label :username %>
     <%= t.text_field :username, placeholder: "Enter username", autofocus: true %>
   </p>

   <p>
     <%= t.label :email %>
     <%= t.email_field :email, placeholder: "Enter email", autofocus: true %>
   </p>

   <p>
     <%= t.label :password %>
     <%= t.password_field :password, placeholder: "Enter password" %>
   </p>

   <% if current_page?(controller: 'users', action: 'new') %>
    <p><%= recaptcha_tags %></p>
   <% end %>

   <p>
     <%= t.submit(@user.new_record? ? "Sign up" : "Update user") %>
   </p>

<% end %>

<p><%= link_to 'До списку записів', records_path %></p>
