<%= form_with model: @user, local: true do |t| %>
<%= render 'shared/errors', obj: @user %>

   <p>
     <%= t.label :username, 'Псевдо:' %>
     <%= t.text_field :username, placeholder: "Введіть псевдо", autofocus: true %>
   </p>

   <p>
     <%= t.label :email, 'Емейл:' %>
     <%= t.email_field :email, placeholder: "Введіть емейл", autofocus: true %>
   </p>

   <p>
     <%= t.label :password, 'Пароль:' %>
     <%= t.password_field :password, placeholder: "Введіть пароля" %>
   </p>

   <% if !logged_in? %>
    <p><%= recaptcha_tags hl: 'uk' %></p>
   <% end %>

   <p>
     <%= t.submit(@user.new_record? ? "Зареєструватися" : "Оновити дані користувача") %>
   </p>

<% end %>

<p><%= link_to 'До списку записів', records_path %></p>
