<% @pending_records.each do |record| %>

  <p><%= link_to record.name, record_path(record) %> —
     <%= link_to record.user.username, user_path(record.user) %> —
     <%= link_to 'Схвалити', records_approve_path(record),
          method: :patch,
          data: { confirm: 'Схвалити?' } %> —
     <%= link_to 'Видалити', record_path(record),
          method: :destroy,
          data: { confirm: 'Видалити?' } %>
  </p>

<% end %>

<p><%= will_paginate @pending_records %></p>

<%= link_to 'Назад', records_path %>
