<%= form_with model: @record, local: true do |form| %>

<%= render 'shared/errors', obj: @record %>

  <p>
    <%= form.label :name, '*Назва:' %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :first_year, '*Встановлений рік народження сайту:' %><br>
    <%= form.select :first_year, (1990)..(2005)  %>
  </p>

  <p>
    <%= form.label :webarchive, '*Посилання на перший кеш вебархіву:' %><br>
    <%= form.text_area :webarchive %>
  </p>

  <p>
    <%= form.label :link, 'Посилання на сайт (якщо живий):' %><br>
    <%= form.text_area :link %>
  </p>

  <p>
    <%= form.label :comment, 'Коментар:' %><br>
    <%= form.text_area :comment %>
  </p>

  <p>
    <%= form.label :description, 'Опис  (працює markdown):' %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
