<!DOCTYPE html>
<html>
  <head>
    <title>GoodOldUanet: старі сайти УАнету</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class='<%= "#{type}" %>'>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
    <hr/>
    <footer><center><small>2020 — нині | Ліцензія <a href="https://creativecommons.org/licenses/by/4.0/deed.uk" target="_blank">CC-BY 4.0</a></small></center></footer>
  </body>
</html>
